.input-campos{
    width: 100%;
    scale: 75%;
    font-size: large;
    color: white;
}

.bts{
    display: flex;
    justify-content: center;
}

.bts > *{
    margin: 5px;
}

#formClass{
    display: flex;
    flex-direction: row;
}
