<mat-card style="border-radius: 0%;"> 
    <mat-toolbar  style="font-size: medium; height: 50px;">Lista de Atores</mat-toolbar>
  <table style="scale: 85%;" mat-table [dataSource]="listaAtor" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome</th>
      <td mat-cell *matCellDef="let ator"> {{ator.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF</th>
      <td mat-cell *matCellDef="let ator"> {{ator.cpf}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef="">
        <button  (click)="AddAtor()" mat-icon-button color="white" aria-label="Adicioanr Ator">
         <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
  
      <mat-cell *matCellDef="let ator">
        <button (click)="editAtor(ator)" mat-icon-button color color="white" aria-label="Editar Ator">
          <mat-icon>edit</mat-icon>
         </button>
         <button  (click)="delAtor(ator)"mat-icon-button color color="warn" aria-label="Editar Filme">
          <mat-icon>delete</mat-icon>
         </button>
      </mat-cell>
  
    </ng-container>

    <ng-template #deleteAtor>
      <div class="modal-body text-center">
        <p>Deseja Excluir o Ator?</p>
        <button type="button" class="btn btn-default" (click)="confirmDelAtor()">Sim</button>
        <button type="button" class="btn btn-primary"  (click)="cancelDelAtor()" style="background-color: purple; border: none;" >Não</button>
      </div>
    </ng-template>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </mat-card>
  